# using .env
SESSION_SIGNING_KEY=your-secure-random-key-here
# ------------------------------
# using bitwarden token
BITWARDEN_ENABLED=0
BITWARDEN_PROVIDER=bws
BWS_ACCESS_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
BWS_PROJECT_ID="xxxxxxxxxxxxxxxxxxxxx"
BWS_REQUIRE_WRITE=0
# ------------------------------
# bitwarden keys
BMS_SESSION_SIGNING_KEY=SESSION_SIGNING_KEY
